.auth_wrapper{
    margin-top:50px;
}
.social_login_description {
    text-align: center;
    margin:20px 0 10px 0;
    color: #737070;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_login_description::before,
.social_login_description::after {
    content: "";
    flex: 1;
    border-top: 1px solid #737070;
    margin: 0 10px;
}
.socialButtonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.icon{
    width:60px;
    cursor: pointer;
}